<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>애플워치 운동 앱으로 기록한 수영 기록을 목록으로 보여주기 위해 건강 데이터를 읽습니다.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wooriharu</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.woori.haru</string>
		</dict>
	</array>
</dict>
</plist>
